<div class="container">
    <table>
        <colgroup>
            <col style="width: 25%">
            <col style="width: 12%">
            <col style="width: 15%">
            <col style="width: 10%">
            <col style="width: 8%">
            <col style="width: 10%">
            <col style="width: 15%">
            <col style="width: 5%">
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>Game</th>
                <th>Played at</th>
                <th>Result</th>
                <th>Players</th>
                <th>Host</th>
                <th>Progress</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (game of games; track $index) {
                <tr>
                    <td class="game-name">{{game.name}}</td>
                    <td>{{game.game}}</td>
                    <td>{{ game.playedAt | date:'dd-MM-yyyy' }}</td>
                    <td>
                        <span
                            class="badge-base"
                            [ngClass]="{
                            'place-1st': game.result[0].place === '1st',
                            'place-2nd': game.result[0].place === '2nd',
                            'place-3rd': game.result[0].place === '3rd',
                            'place-default': !['1st','2nd','3rd'].includes(game.result[0].place)
                            }"
                        >
                            {{ game.result[0].place }}
                        </span>
                    </td>
                    <td>{{game.players}}/4</td>
                    <td>{{game.host}}</td>
                    <td>
                        <span 
                            class="badge-base"
                            [ngClass]="{
                                'playing': game.progress === 'playing',
                                'finished': game.progress === 'finished',
                                'canceled': game.progress === 'canceled'
                            }"
                        >
                            {{game.progress}}
                        </span>
                    </td>
                    <td>></td>
                </tr>
            }
        </tbody>
    </table>
</div>