.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile-overview {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.75rem;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.avatar {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  border: white 7px solid;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.name {
  margin: 0;
  line-height: 1;
}

.email-row {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 6px;overflow: visible;
}

.info {
  margin: 0;
  font-size: 0.85rem;
  color: #6b7280;
}

.icon-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0 6px;
    cursor: default;
  font-size: 0.85rem;
  border-radius: 50px;
}

.verified {
    color: green;
    border: 1px green solid;
}

.unverified {
    color: red;
    border: 1px red solid;
}

.logout {
  border-radius: 10px;
  padding: 6px 12px;

  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;

  color: #111827;
  font-weight: 500;

  cursor: pointer;

  transition: all 0.2s ease;
}

.bottom {
    display: flex;
    flex: 1;
    gap: 1rem;
    margin: 10px 0;
}

.games-present {
    flex: 3;
}

.about-me {
    flex: 1;
}
