.screen-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 0.5rem;
  box-sizing: border-box;
}

.bottom {
  display: flex;
  flex: 1;
}

.screen {
  flex: 1;
  margin: 1rem;
}